<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Task-manager</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div th:replace="fragments/header.html"></div>
<div class="main-message">TASK LIST</div>
<table border="1" width="100%" margin-top="0px">
    <tr>
        <td class="table-head" width="25%">ID</td>
        <td class="table-head" width="20%">Task Name</td>
        <td class="table-head" width="31%">Description</td>
        <td class="table-head" width="8%">View</td>
        <td class="table-head" width="8%">Update</td>
        <td class="table-head" width="8%">Remove</td>
    </tr>
    <tr th:each="task : ${tasks}">
        <td th:text="${task.id}" class="td_list"></td>
        <td th:text="${task.name}" class="td_list"></td>
        <td th:text="${task.description}" class="td_list"></td>
        <td style="font-size: 20px" align="center"><a th:href="@{'/tasks/view/' + ${task.id}}">View</a></td>
        <td style="font-size: 20px" align="center"><a th:href="@{'/tasks/update/' + ${task.id}}">Update</a></td>
        <td style="font-size: 20px" align="center"><a th:href="@{'/tasks/remove/' + ${task.id}}">Remove</a></td>
    </tr>
</table>
<div style="margin-top: 10px;">
    <a href="/tasks/create" class="button">Create new task</a>
</div>
<div style="margin-top: 10px;">
    <a href="/" class="button">Main page</a>
</div>
<div th:replace="fragments/footer.html"></div>
</body>
</html>