<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Task-manager</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div th:replace="fragments/header.html"></div>
<div class="main-message">TASK CREATE</div>
<form th:action="@{/tasks/create}" th:object="${task}" method="post">
    <div style="margin-top: 5px">Enter task name:</div>
    <input type="text" name="name" value="name"/><br/>
    <div style="margin-top: 5px">Enter task description:</div>
    <input type="text" name="description" value="description"/><br/>
    <div style="margin-top: 5px">Choose project for this task:</div>
    <select name="projectId">
        <option th:each="project : ${projects}" th:value="${project.id}" th:text="${project.name}"></option>
    </select>
    <div>
        <input class="button" style="margin-top: 10px" type="submit" value="Create task"/>
    </div>
</form>
<div th:replace="fragments/footer.html"></div>
</body>
</html>